/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
  width: 100%;
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

#content-nopad {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#map_canvas {
  height: 100%;
  width: 100%;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: 0;
}      

#hud_canvas, #hud_display {
  padding: 0px 0px 0px 0px;
}

.wrapper { 
  position: relative;
  z-index:100;
}

#main_area {
  padding: 0px 0px 0px 0px;

}

#parameters {
  background-color: #FFFFFF;
  margin-left: 5px;
  border-radius: 4px;
}

#sidebar {
  padding: 5px;
}

#left_controls {
  padding: 0px;
  margin-bottom: 0px;
}

.nav li {
  border-bottom: 2px solid #999999;
}

.nav li:hover{
  border-bottom: 2px solid #EEEEEE;
}

.nav li.active {
  border-bottom: 2px solid #BB3333;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

