
<!DOCTYPE html>
<html lang="en" ng-app="WebGCS">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ng-websocket/ng-websocket.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDB9QrUFbd68O-tYZTEkRdgeqizBa30lxc&sensor=false"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>

    <script type="application/javascript" src="script/app.js">
    </script>
    <script type="application/javascript" src="script/controllers.js">
    </script>
    <script type="application/javascript" src="script/services.js">
    </script>
    <!--
    <script type="application/javascript" src="script/UAV.js">
    </script>
    <script type="application/javascript" src="script/mocks/WebMocket.js">
    </script>
    <script type="application/javascript" src="script/UAVList.js">
    </script>
    <script type="application/javascript" src="script/MAVLinkHandler.js">
    </script>
    <script type="application/javascript" src="script/archetype.js">
    </script>
    <script type="application/javascript" src="script/map_logic.js">
    </script>
    <script type="application/javascript" src="script/HUD_Animation.js">
    </script> -->
    <title>WebGC</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this GC -->
    <link href="css/offcanvas.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <script type="application/javascript">
  var canvas_draw = function() { };
  </script>

  <body onload="canvas_draw();" ng-controller="UAVListCtrl as uavlist">
    <div class="wrapper">
      <div ng-include src="'templates/header.html'"></div>

      <div class="container" id="main_area" style="margin-left: 0px;">
        <div class="col-sm-12" id="content-nopad">
          <div class="col-sm-3 sidebar" id="sidebar" role="navigation">

            <div class="list-group" id="left_controls">
              <div class="list-group-item" id="hud_display">
                <canvas id="hud_canvas" height="210" width="280" style="z-index: 10">Sorry, your browser does not support canvas.</canvas>
              </div>
              <a href="#" onclick="uavs.getCurrentUAV().sendCommand('ARM');" class="list-group-item">
                <span class="badge" id="current_armed">ARMED</span>
                Arm/Disarm
              </a>
              <a href="#collapseFM" data-toggle="collapse" data-target="#flight_modes" class="list-group-item">
                <span class="badge" id="current_mode_badge">MISSION</span>
                Flight Mode
              </a>
              <div class="collapse" id="flight_modes">
                <a ng-repeat="mode in uav.modes" href="#" class="list-group-item" ng-click="">{{mode}}</a>
                <!--
                Flight modes will be loaded here by AngularJS when a UAV connects.
                -->
              </div>
              <a onclick="centerMap();" href="#" class="list-group-item">Center Map</a>
              <a href="#collapseNEW" data-toggle="collapse" data-target="#new_uav" class="list-group-item" id="add_uav_link">Add UAV</a>
              <div class="collapse on" id="new_uav">
                <form role="form" style="background-color: #ffffff">
  		            <div class="form-group">
    		            <label for="uav_ip">Add a new UAV</label>
    		            <input class="form-control" id="uav_ip" placeholder="Enter IP:port of UAV server">
  		            </div>
  		            <button ng-click="addUAV(document.getElementById('uav_ip').value);" type="submit" id="submit_uav" class="btn btn-default">Submit</button>
                </form>
              </div>
              <a onclick="removeUAVById(current_uav);" href="#" class="list-group-item">Disconnect Current UAV</a>
              <div class="list-group-item" style="height: 100%">
              </div>
            </div>
          </div>
        </div><!--/content-nopad-->
      </div><!-- container -->

      <div class="row" id="content-nopad">
        <div class="col-sm-12" id="content-nopad">
          <div class="col-sm-2" id="parameters" ng-repeat="param in getCurrentUAV().params">
            <table>
            <tr>
              <td>{{param.name}}</td><td>{{param.value}}</td>
            </tr>
            </table>
          </div>
        </div><!--/span-->
      </div>
      <hr>

      <footer>
        <p>&copy; Charles Kiorpes 2014</p>
      </footer>
    </div>

    <map id="map_canvas" ng-controller="MapCtrl">
    </map><!--/#map_canvas-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!--
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB9QrUFbd68O-tYZTEkRdgeqizBa30lxc&sensor=false&callback=initializeMap">
    </script> -->
  </body>
</html>
