<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container navbar-left" id="topnav">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebGC</a>
    </div>
    <div class="nav">
      <ul class="nav navbar-nav" ng-controller="NavBarCtrl as navctl">
        <li ng-class="{ active: isSet(1) }">
          <a ng-click="setTab(1)">Flight</a>
        </li>
        <li ng-class="{ active: isSet(2) }">
          <a ng-click="setTab(2)">Mission</a>
        </li>
        <li ng-class="{ active: isSet(3) }">
          <a ng-click="setTab(3)"> {{ navctl.tab }} HUD</a>
        </li>
      </ul>
      <div id="status_text">
      <!-- STATUSTEXT messages will appear here -->
      </div>

      <div class="nav navbar-right" id="current_uavs">
        <ul class="nav navbar-nav" id="current_uavs_ul">
          <li ng-repeat="uav in uavs" id="uav{{uav.id}}" ng-class="{ active: isActiveUAV({{uav.id}}) }">
            <a ng-click="setCurrentUAV(uav.id);">UAV {{ uav.id }}  <span class="badge" id="uav{{uav.id}}_badge">NO MODE</span>
            </a>
          </li>
          <!--
          The tabs for the available UAVs will appear here
          -->
        </ul>
      </div>
    </div><!-- /.nav -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
